/* Misc. Classes */

.subheading {
	@include standard;
	@include paragraph-font;
	font-size: 20px !important;
	font-style: italic;
}

.links {
	text-align: center;
	background-color: white;
	padding-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

.image {
	@include alignment(center);
}

.align-right {
	@include alignment(right);
}

.align-center {
	@include alignment(center);
}

.bold {
	font-weight: bold;
}

.tex-num {
	font-family: serif;
}

.eqn {
	@extend .tex-num;
	font-style: italic;	
}

a#name {
	text-decoration: none;
	color: black;
	&:visited, &:hover, &:focus, &:active {
		text-decoration: none;
		color: black;
	}
}


/* Section-Specific Margins */

#about-me, #education {
	margin-top: -100px;
	padding-top: 200px;
}

#interests, #achievements, #experience, #four04 {
	margin-top: -150px;
	padding-top: 300px;
}


/* Modal Boxes */

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;

	&:target {
		opacity:1;
		pointer-events: auto;
	}
}

.modal > div {
	width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	border: $standard-border;
	background: #fff;
}