/*

CSS styles for my website
Meant to overlay Boostrap CSS

by Chris Pyles

*/

.container * {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.anchor {
    padding-top: 75px;
    margin-top: -75px;
}

.grid-image {
    width: inherit;
    max-width: 300px;
    max-height: 300px;
}

/* Height for Cal NERDS logo */
img[src="assets/projects/calnerds-logo.jpg"] {
    height: 100%;
}

table.position-title {
    width: 100%;
}


/* About Me Section */

div.jumbotron#about-me {
    background: url("assets/code-background.jpeg");
    background-size: cover;
    color: #eee;
}

div.jumbotron#about-me p.lead {
    background: rgba(50, 50, 50, 0.8);
    padding: 10px 15px 10px 15px;
}


/* Social Links Styles */

li.social {
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 20px;
}

li.social a {
    color: rgba(0, 0, 0, 0.9);
}


/* 

Teaching Pages Styles

*/

.quiet {
  color: #AAA;
  font-style: italic;
}

h1 span.quiet, h2 span.quiet {
  font-style: normal;
  font-weight: lighter;
  margin-left: 15px;
}

h2#course-header {
    margin-top: 20px;
}


/* Notes Table */

table#section-notes {
    width: 100%;
}

table#section-notes tr {
    border: 1px solid black;
}

table#section-notes tr:nth-of-type(2n) {
    background-color: #EEE;
}

table#section-notes td, table#section-notes th {
    border-right: 1px solid black;
    padding-left: 10px;
}
