/* Helpers */

$centered: 0 auto;
$standard-border: 1px solid black;
$hfont: "Dosis", sans-serif;
$pfont: "Open Sans", sans-serif;

@mixin alignment($value) {
	text-align: $value;
}

@mixin standard {
	width: 75%;
	margin: $centered;
}

@mixin heading-font {
	font: {
		family: $hfont;
		weight: normal;
	}
	text-align: left;
	letter-spacing: 2px;
}

@mixin paragraph-font {
	font: {
		family: $pfont;
		size: 19px;
		weight: 200;
	}
	text-align: left;
}

* {
	margin: $centered;
	padding: 0;
	line-height: 1.75;
}