/* Paragraphs, Lists, Etc. */

p {
	@include standard;
	@include paragraph-font;
}

ul {
	@extend p;
	padding-left: 5%;
}

ul.classes {
	width: 100%;
	padding-left: 5%;
}

p.iframe {
	width: 75%;
}

button {
	display: flex;
	margin: $centered;
	justify-content: center;
	font-size: 15px;
	padding: 10px 25px;
	background-color: white;
	border: $standard-border;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;

	&:hover {
		background-color: black;
		color: white;
	}
}

table {
	@include paragraph-font;
	@include standard;
}

td {
	@extend table;
	width: 20%;
	vertical-align: top;	
}

th {
	@extend td;
	border-bottom: $standard-border;	
}

tr {
	width: 20%;
	border: $standard-border;
}

a {
	text-decoration: none;
}

indent {
	margin-left: 5%;
}