/*

CSS styles for my website
Meant to overlay Boostrap CSS

by Chris Pyles

*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

.container * {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.anchor {
    padding-top: 75px;
    margin-top: -75px;
}

.grid-image {
    width: inherit;
    max-width: 300px;
    max-height: 300px;
}

/* Height for Cal NERDS logo
img[src="assets/projects/calnerds-logo.jpg"] {
    height: 100%;
} */

.grid-image-container {
    height: 300px;
}

table.position-title {
    width: 100%;
}


/* About Me Section */

div.jumbotron.landing-jumbotron {
    color: #eee;
    height: 97vh;
    padding: none;
}

div.jumbotron#home-jumbotron {
    background: url("../images/bw-hard-disk.jpg");
    background-size: cover;
    margin-bottom: -50px;
}

div#about-me p.lead {
    margin-top: 60px;
}

h1.jumbotron-text {
    color: #fff;
    /* margin: auto auto; */
    text-align: center;
    /* font-size: 400px; */
    font-size: 30vw;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1vw;
    /* padding-top: 10%; */
    overflow: hidden;
}

/* div.jumbotron#about-me p.lead {
    background: rgba(50, 50, 50, 0.8);
    padding: 10px 15px 10px 15px;
} */


/* Social Links Styles */

li.social {
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 20px;
}

li.social a {
    color: rgba(0, 0, 0, 0.9);
}


/* 

Teaching Pages Styles

*/

div.jumbotron#ds100-jumbotron {
    background: url("../images/cool-data-viz-background.jpg");
    background-size: cover;
    height: 60vh;
}

div.jumbotron#ds100-jumbotron h1.jumbotron-text {
    font-size: 250px;
    letter-spacing: 75px;
    padding-top: 5%;
}

div.jumbotron h2#ds100-header {
    background-color: rgba(230, 230, 230, .5);
    text-align: center;
}

.quiet {
  color: #AAA;
  font-style: italic;
}

h1 span.quiet, h2 span.quiet {
  font-style: normal;
  font-weight: 200;
  margin-left: 15px;
}

h2#course-header {
    margin-top: 20px;
}


/* Notes Table */

table#section-notes {
    width: 100%;
}

table#section-notes tr {
    border: 1px solid black;
}

table#section-notes tr:nth-of-type(2n) {
    background-color: #EEE;
}

table#section-notes td, table#section-notes th {
    border-right: 1px solid black;
    padding-left: 10px;
}

table#section-notes th#resources-column {
    width: 350px;
}


/* Notes Pages */

/* div.notes-question ol, div.notes-question button {
    display: inline-block
} */

div.notes-question button {
    float: right;
    bottom: 0%;
}

iframe.nb-iframe {
    padding-top: 50px;
}
