/*

CSS styles for my website
Meant to overlay Boostrap CSS

by Chris Pyles

*/

/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); */

* {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

.container * {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.anchor {
    padding-top: 75px;
    margin-top: -75px;
}

.grid-image {
    width: inherit;
    max-height: 150px;
}

.grid-image-container {
    height: 300px;
}

table.position-title {
    width: 100%;
}

.bg-light {
    background-color: #f5f6f7 !important;
}


/* About Me Section */

h1.name {
    font-family: Oswald;
    font-size: 65px;
    letter-spacing: 10px;
    text-align: center;
}

div.fill-height {
    /* color: #eee; */
    height: 102vh;
    padding: none;
}

div#about-me p.lead {
    margin-top: 60px;
    text-align: justify;
    text-justify: inter-word;
    overflow-wrap: break-word; 
    max-width : 100%;
}

h1.jumbotron-text {
    color: #fff;
    text-align: center;
    font-size: 30vw;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1vw;
    overflow: hidden;
}

div#headshot-container img {
    object-fit: cover;
    width: 100%;
    border-radius: 60px;
    max-height: 80vh;
}


/* Social Links Styles */

li.social {
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 20px;
}

li.social a {
    color: rgba(0, 0, 0, 0.9);
}

img.social {
    height: 20px;
    vertical-align: middle;
    margin-bottom: 5px;
}


/* 

Teaching Pages Styles

*/

div.jumbotron#ds100-jumbotron {
    background: url("../images/cool-data-viz-background.jpg");
    background-size: cover;
    height: 60vh;
}

div.jumbotron#ds100-jumbotron h1.jumbotron-text {
    font-size: 250px;
    letter-spacing: 75px;
    padding-top: 5%;
}

div.jumbotron h2#ds100-header {
    background-color: rgba(230, 230, 230, .5);
    text-align: center;
}

.quiet {
  color: #AAA;
  font-style: italic;
}

h1 span.quiet, h2 span.quiet {
  font-style: normal;
  font-weight: 200;
  margin-left: 15px;
}

h2#course-header {
    margin-top: 20px;
}


/* Notes Table */

table#section-notes {
    width: 100%;
}

table#section-notes tr {
    border: 1px solid black;
}

table#section-notes tr:nth-of-type(2n) {
    background-color: #EEE;
}

table#section-notes td, table#section-notes th {
    border-right: 1px solid black;
    padding-left: 10px;
}

table#section-notes th#resources-column {
    width: 350px;
}


/* Notes Pages */

/* div.notes-question ol, div.notes-question button {
    display: inline-block
} */

div.notes-question button {
    float: right;
    bottom: 0%;
}

iframe.nb-iframe {
    padding-top: 50px;
}

/* Skills */
#skills-container div {
    margin-right: 10px;
}
